@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');

body {
    overflow-x: hidden;
    height: 3000px;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: lightblue;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15)
}

.slider {
    width: 100%;
    height: var(--height);
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .card {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (4s / var(--quantity)) * (var(--position) - 1));
}

@keyframes autoRun {
    from {
        left: 100%;
    } to {
        left: calc(var(--width) * -1);
    }
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 180vh;
    left: 0;
    animation: changeBackground 30s infinite;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes changeBackground {
    0% { background-image: url(../img/marvel_rivals_bg_1.jpg); }
    20% { background-image: url(../img/marvel_rivals_bg_2.jpg); }
    40% { background-image: url(../img/marvel_rivals_bg_3.jpg); }
    60% { background-image: url(../img/marvel_rivals_bg_4.jpg); }
    80% { background-image: url(../img/marvel_rivals_bg_5.jpg); }
    100% { background-image: url(../img/marvel_rivals_bg_1.jpg); }
}

.banner .slider_3d {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun_3d 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun_3d{
    from{
        transform: perspective(1000px) rotateX(-20deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-20deg) rotateY(360deg);
    }
}

.banner .slider_3d .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider_3d .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}

.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .model{
    background-image: url(../img/marvel_rivals_captain_america.webp);
    width: 100%;
    height: 82.5vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}
