
<footer class="py-4">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4">
                <h5 class="text-neon">Về BKGame</h5>
                <p>Tạo ra những trải nghiệm chơi game của tương lai</p>
            </div>
            
            <div class="col-lg-4">
                <h5 class="text-neon">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none;">Hỗ Trợ</a></li>
                    <li><a href="#" style="text-decoration: none;">Điều khoản dịch vụ</a></li>
                    <li><a href="#" style="text-decoration: none;">Chính sách bảo mật</a></li>
                </ul>
            </div>
            
            <div class="col-lg-4">
                <h5 class="text-neon">Phương Thức Thanh Toán</h5>
                
                <div class="payment-methods">
                    <i class="bi bi-credit-card"></i>
                    <i class="bi bi-paypal"></i>
                    <i class="bi bi-wallet2"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
