
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4">
                <h5 class="text-neon">About CyberGameHub</h5>
                <p>Your ultimate destination for digital gaming excellence</p>
            </div>
            
            <div class="col-lg-4">
                <h5 class="text-neon">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none;">Support</a></li>
                    <li><a href="#" style="text-decoration: none;">Terms of Service</a></li>
                    <li><a href="#" style="text-decoration: none;">Privacy Policy</a></li>
                </ul>
            </div>
            
            <div class="col-lg-4">
                <h5 class="text-neon">Payment Methods</h5>
                
                <div class="payment-methods">
                    <i class="bi bi-credit-card"></i>
                    <i class="bi bi-paypal"></i>
                    <i class="bi bi-wallet2"></i>
                </div>
            </div>
        </div>
    </div>
