<nav class="navbar navbar-expand-lg navbar-dark neon-border">
    <div class="container">
        <a class="navbar-brand text-neon" href="#">
            <img src="../img/logo.png" width="40" height="40" class="rounded-circle me-2 glow-effect" alt="CyberGameHub Logo">BKGame
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link text-neon" href="#">Home</a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-neon" href="#" role="button" data-bs-toggle="dropdown">Games</a>
                    
                    <ul class="dropdown-menu cyber-dropdown">
                        <li><a class="dropdown-item" href="#">PC Games</a></li>
                        <li><a class="dropdown-item" href="#">Console Games</a></li>
                        <li><a class="dropdown-item" href="#">Mobile Games</a></li>
                        <li><a class="dropdown-item" href="#">VR Games</a></li>
                    </ul>
                </li>
                
                <li class="nav-item"><a class="nav-link text-neon" href="#">News</a></li>
                
                <li class="nav-item"><a class="nav-link text-neon" href="#">Community</a></li>
                
                <li class="nav-item"><a class="nav-link text-neon" href="#">Support</a></li>
            
            </ul>
            
            <div class="d-flex align-items-center">
                <button class="btn btn-outline-neon me-2" style="color: var(--primary);">Login</button>
                <button class="btn btn-neon">Register</button>
            </div>
        </div>
    </div>
</nav>